header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header h1 {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98.685' height='103.021' xml:space='preserve'%3E%3Cpath fill='%2304cf5c' d='M2.789 83.266c4.943 3.042 12.168 5.577 19.774 5.577 11.281 0 17.872-5.958 17.872-14.577 0-7.985-4.563-12.549-16.098-16.985C10.394 52.337 1.774 45.112 1.774 33.07c0-13.31 11.028-23.196 27.633-23.196 8.746 0 15.083 2.028 18.886 4.183l-3.042 9c-2.789-1.521-8.493-4.056-16.225-4.056-11.662 0-16.098 6.971-16.098 12.802 0 7.985 5.197 11.915 16.985 16.479 14.45 5.577 21.802 12.548 21.802 25.097 0 13.183-9.76 24.718-29.914 24.718-8.239 0-17.239-2.535-21.802-5.577l2.79-9.254z'/%3E%3Cpath fill='%23595959' d='M91.864 76.934c-2.099-9.182-6.165-15.478-12.986-17.84v-.393c9.313-3.147 16.659-10.888 16.659-22.563 0-6.821-2.492-12.854-6.953-16.79-5.509-4.985-13.379-7.215-25.578-7.215-2.393 0-4.818.065-7.201.184l-3.246 9.603-.038-.021v.07c1.84-.524 5.771-1.048 11.271-1.048 12.068.132 20.332 5.116 20.332 16.529 0 10.1-7.739 16.79-19.938 16.79H53.118c1.722 2.547 2.88 5.397 3.438 8.656h6.711c10.363.395 15.086 4.985 17.709 17.186 2.492 11.018 4.461 18.495 5.902 21.118h11.807c-1.837-3.41-3.935-11.936-6.821-24.266z'/%3E%3C/svg%3E") no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.title {
  width: 100%;
  background-color: rgba(54, 54, 54, 0.7);
  position: relative;
}

.title::before {
  width: 100%;
  height: 100%;
  background: url(../images/main/title.jpg) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-size: cover;
}

.title div {
  width: 100%;
  padding: 8.021% 1.625rem;
}

.title h2 {
  color: white;
  font-size: calc(4.4375rem / 2);
  font-weight: 100;
  text-transform: capitalize;
}

@media all and (min-width: 768px) {
  .title h2 {
    font-size: calc(4.4375rem / 1.5);
  }
}

@media all and (min-width: 1000px) {
  .title h2 {
    font-size: calc(4.4375rem / 1);
  }
}

@media screen and (min-width: 2000px) {
  .title h2 {
    font-size: calc(4.4375rem / 0.5);
  }
}

.title h2 strong {
  font-weight: 500;
  display: block;
}

.title p {
  font-weight: 500;
  font-size: .875rem;
  color: white;
  padding-top: .625rem;
}

.title p span {
  display: inline-block;
  padding-right: 1em;
  text-transform: uppercase;
}

.title p span::before {
  content: "#";
}

@media all and (min-width: 800px) {
  .title div {
    padding: 4vw 9.625vw;
  }
}

@media all and (min-width: 1200px) {
  .title div {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0;
  }
}

.graph-wrap .graph {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.graph-wrap .graph::before {
  width: 70%;
  line-height: 0;
  padding: 18vw 0 10vw;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: block;
  content: attr(data-percent) "%";
  -webkit-transform: skew(-0.03deg);
          transform: skew(-0.03deg);
  margin: auto;
  font-size: calc(1.875rem / 2);
  font-weight: 900;
}

@media all and (min-width: 768px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 1.5);
  }
}

@media all and (min-width: 1000px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 1);
  }
}

@media screen and (min-width: 2000px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 0.5);
  }
}

.graph-wrap .graph strong {
  text-transform: uppercase;
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .graph-wrap {
    padding: 4vw 8vw;
  }
  .graph-wrap .graph {
    width: 20vw;
    height: 20vw;
    max-width: 190px;
    max-height: 190px;
  }
  .graph-wrap .graph::before {
    padding: 48% 0 23%;
  }
}

@media all and (min-width: 1200px) {
  .graph-wrap {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0 0;
  }
}

.history {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: calc(1rem / 1);
  font-weight: 400;
}

@media screen and (min-width: 2000px) {
  .history {
    font-size: calc(1rem / 0.5);
  }
}

.history li {
  width: 50%;
  padding: 1.625em;
}

.history li strong {
  margin-bottom: 1rem;
  display: block;
}

.history li em {
  color: #656565;
  margin-bottom: .5rem;
  display: block;
}

@media all and (min-width: 800px) {
  .history {
    padding: 4vw 8vw;
  }
  .history li {
    width: 33.333%;
  }
}

@media all and (min-width: 1200px) {
  .history {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0;
  }
}

.projectList {
  padding: 0 1.625rem;
}

.projectList figure {
  width: 50%;
  padding-top: 50%;
  height: 0;
  position: relative;
  overflow: hidden;
  display: none;
}

.projectList figure img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.projectList figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.projectList figure figcaption a {
  width: 100%;
  height: 100%;
  font-size: .875rem;
  color: #222;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.projectList figure figcaption h3 {
  font-size: calc(1.875rem / 2);
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
  color: white;
}

@media all and (min-width: 768px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 1.5);
  }
}

@media all and (min-width: 1000px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 1);
  }
}

@media screen and (min-width: 2000px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 0.5);
  }
}

.projectList figure figcaption span {
  font-size: calc(1.125rem / 1);
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0;
}

@media screen and (min-width: 2000px) {
  .projectList figure figcaption span {
    font-size: calc(1.125rem / 0.5);
  }
}

.projectList figure figcaption i {
  font-size: calc(2rem / 2);
  font-weight: 400;
  opacity: 1;
  color: white;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media all and (min-width: 768px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 1.5);
  }
}

@media all and (min-width: 1000px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 1);
  }
}

@media screen and (min-width: 2000px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 0.5);
  }
}

.projectList p {
  width: 100%;
  text-align: center;
}

.projectList p .btn_readMore {
  text-transform: uppercase;
  font-size: calc(0.875rem / 1);
  font-weight: 600;
  letter-spacing: .5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 2000px) {
  .projectList p .btn_readMore {
    font-size: calc(0.875rem / 0.5);
  }
}

.projectList p .btn_readMore i {
  margin-bottom: 1rem;
  display: block;
  font-size: calc(1.875rem / 2);
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 1.5);
  }
}

@media all and (min-width: 1000px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 1);
  }
}

@media screen and (min-width: 2000px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 0.5);
  }
}

.projectList p .btn_readMore:hover {
  background: #04cf5c;
  color: white;
  padding: .5rem 1rem;
}

.projectList p .btn_readMore.noContent {
  cursor: default;
}

.projectList p .btn_readMore.noContent:hover {
  background: 0;
  color: inherit;
  padding: 0;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@media all and (min-width: 1200px) {
  .projectList figure:nth-of-type(5) img {
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .projectList figure figcaption a:hover {
    background: rgba(4, 207, 92, 0.7);
    color: white;
  }
  .projectList figure figcaption a:hover span, .projectList figure figcaption a:hover i {
    opacity: 1;
  }
  .projectList figure figcaption a:hover i {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
            animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  .projectList figure figcaption a:hover h3 {
    position: static;
    text-shadow: none;
    margin-bottom: 2%;
  }
  .projectList figure figcaption h3 {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .projectList figure figcaption i {
    opacity: 0;
    text-shadow: none;
  }
}

@media all and (min-width: 1200px) {
  .projectList {
    width: 70vw;
  }
}

@media all and (min-width: 2000px) {
  .projectList figure {
    width: 25%;
    padding-top: 25%;
  }
  .projectList h3 {
    font-size: calc(1rem / 1);
    font-weight: 400;
  }
}

.slider {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  overflow: hidden;
  background: white;
}

.slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider .container .box {
  width: 100%;
  text-align: center;
}

.slider .container .box a {
  font-size: calc(0.875rem / 1);
  font-weight: 400;
  color: gray;
  width: 40%;
  display: inline-block;
  padding: .5rem 1rem;
}

@media screen and (min-width: 2000px) {
  .slider .container .box a {
    font-size: calc(0.875rem / 0.5);
  }
}

@media all and (max-width: 999px) {
  .slider .container .box:nth-of-type(n+8) {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  .slider .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .slider .container .box {
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-animation: moving 30s linear infinite;
            animation: moving 30s linear infinite;
  }
  .slider .container .box a {
    font-size: calc(1rem / 1);
    font-weight: 500;
    width: auto;
    padding: 0;
    display: block;
    line-height: 80px;
  }
  .slider .container .box a:hover {
    color: black;
  }
  .slider:hover .box {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  @-webkit-keyframes moving {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(calc(-250px * 8));
              transform: translateX(calc(-250px * 8));
    }
  }
  @keyframes moving {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(calc(-250px * 8));
              transform: translateX(calc(-250px * 8));
    }
  }
}
