@import 'variable','_mixin';

@function icon($iconName, $color:555555) {
	$iconList: ( 
		logo: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='98.685' height='103.021' xml:space='preserve'%3E%3Cpath fill='%23#{$color}' d='M2.789 83.266c4.943 3.042 12.168 5.577 19.774 5.577 11.281 0 17.872-5.958 17.872-14.577 0-7.985-4.563-12.549-16.098-16.985C10.394 52.337 1.774 45.112 1.774 33.07c0-13.31 11.028-23.196 27.633-23.196 8.746 0 15.083 2.028 18.886 4.183l-3.042 9c-2.789-1.521-8.493-4.056-16.225-4.056-11.662 0-16.098 6.971-16.098 12.802 0 7.985 5.197 11.915 16.985 16.479 14.45 5.577 21.802 12.548 21.802 25.097 0 13.183-9.76 24.718-29.914 24.718-8.239 0-17.239-2.535-21.802-5.577l2.79-9.254z'/%3E%3Cpath fill='%23595959' d='M91.864 76.934c-2.099-9.182-6.165-15.478-12.986-17.84v-.393c9.313-3.147 16.659-10.888 16.659-22.563 0-6.821-2.492-12.854-6.953-16.79-5.509-4.985-13.379-7.215-25.578-7.215-2.393 0-4.818.065-7.201.184l-3.246 9.603-.038-.021v.07c1.84-.524 5.771-1.048 11.271-1.048 12.068.132 20.332 5.116 20.332 16.529 0 10.1-7.739 16.79-19.938 16.79H53.118c1.722 2.547 2.88 5.397 3.438 8.656h6.711c10.363.395 15.086 4.985 17.709 17.186 2.492 11.018 4.461 18.495 5.902 21.118h11.807c-1.837-3.41-3.935-11.936-6.821-24.266z'/%3E%3C/svg%3E"
	);
	$icon: map-get($iconList, $iconName);
	@return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

header{width:100%;height:90px;display: flex;justify-content: center;align-content: center;
	h1{
		background: icon(logo, '04cf5c') no-repeat;
		width:50px;height:50px;
		background-size:contain;
	}
}

.title{width:100%; background-color: rgba(54,54,54,0.7);position:relative;
    &::before{width:100%;height:100%;background: url(../images/main/title.jpg) center no-repeat;position:absolute;top:0;left:0;z-index: -1;content: "";background-size: cover;}
    div{width:100%;padding:8.021% 1.625rem;}
    h2{color:white;@include fontSizeStyle(4.4375rem, 100);text-transform: capitalize;
        strong{font-weight: 500;display:block}
    }
	p{font-weight: 500;font-size: .875rem;// @include fontSizeStyle(0.625rem, 500);
      color: white;padding-top: .625rem;
        span{display:inline-block;padding-right:1em;text-transform: uppercase;
            &::before{content:"#"}
        }
    }
}
@media all and (min-width:800px){
    .title div{padding:4vw 9.625vw}
}
@media all and (min-width:1200px){
    .title div{min-width: 850px;width: 50vw;padding:4vw 0;}
}

.graph-wrap {
    .graph{width: 40vw;height:40vw;margin: 0 auto;border-radius: 50%;position: relative;text-align: center;
        &::before{width: 70%;line-height:0;padding:18vw 0 10vw;background: white;border-radius: 50%;position: absolute;left: 15%;top: 15%;display: block;content: attr(data-percent) '%';transform: skew(-0.03deg);margin: auto;@include fontSizeStyle(1.875rem, 900);
        }
        strong{text-transform: uppercase; position: absolute;top:32%;left:0;right:0;font-weight: 400;}
    }
}
@media all and (min-width:768px){
    .graph-wrap {padding:4vw 8vw;
        .graph{width: 20vw;height:20vw;max-width:190px;max-height:190px;
            &::before{padding:48% 0 23%}
        }
    }
}
@media all and (min-width:1200px){
    .graph-wrap{min-width: 850px;width: 50vw;padding:4vw 0 0;}
}


.history{margin:auto;display: flex;flex-wrap: wrap;justify-content: space-around;@include fontSizeStyle(1rem, 400);
    li{width:50%;padding:1.625em;
        strong{margin-bottom: 1rem; display: block;}
        em{color:#656565;margin-bottom: .5rem; display: block;}
    }
}
@media all and (min-width:800px){
    .history{padding:4vw 8vw;
        li{width:33.333%;}
    }
}
@media all and (min-width:1200px){
    .history{min-width: 850px;width: 50vw;padding:4vw 0}
}

.projectList{padding:0 1.625rem;
    figure{width:50%;padding-top: 50%;height:0;position: relative;overflow: hidden;display: none;
        img{max-width:fit-content; height:100%;position:absolute;top:0;left:50%;transform: translate(-50%,0)}
        figcaption{position:absolute;top:0;left:0;bottom:0;right:0;
            a{width:100%;height:100%;font-size: .875rem;color: #222;text-transform: uppercase;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: .3s ease-in-out;}
			h3{@include fontSizeStyle(1.875rem, 600);letter-spacing:0;text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;color: white;}
            span{@include fontSizeStyle(1.125rem, 400);letter-spacing: 0;opacity: 0;}
			i{@include fontSizeStyle(2rem, 400);opacity: 1;color:white;text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;transition: .3s ease;}
        }
    }
    p{width:100%;text-align: center;
		.btn_readMore{text-transform: uppercase;@include fontSizeStyle(0.875rem, 600);letter-spacing: .5rem;margin-top:2rem;
			i{margin-bottom: 1rem;display:block;@include fontSizeStyle(1.875rem, 400);}
            &:hover{@include bgColor(background, cMain,1);color: white;padding:.5rem 1rem;}
            &.noContent{cursor:default;
                &:hover{background:0;color:inherit;padding:0;}
            }
        }
    }
}
@keyframes slide-right{0%{transform:translateX(0)}50%{transform:translateX(10px)}}
@media all and (min-width:1200px){
.projectList {
    figure{
        &:nth-of-type(5) img{left:0;transform: translate(0)}
        figcaption{
            a:hover{@include bgColor(background, cMain, 0.7);color: white;
                span, i{opacity: 1}
                i{animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) both infinite}
                h3{position: static;text-shadow:none;margin-bottom: 2%;}
            }
            h3{position: absolute;top:1rem;left:1rem;}
            i{opacity: 0;text-shadow: none;}
        }
    }
}
}
@media all and (min-width:1200px){
.projectList{width:70vw;}
}
@media all and (min-width:2000px){
.projectList figure{width:25%;padding-top: 25%;}
.projectList h3{@include fontSizeStyle(1rem, 400);}
}

.slider {width: 100%;padding:2rem 0; display: flex;justify-content: center;align-items: center;transition: transform 1s ease;overflow: hidden;background:white;
    .container{display: flex;width: 100%;flex-wrap: wrap;
        .box{width:100%;text-align: center;
            a{@include fontSizeStyle(.875rem, 400);color:gray;width:40%;display:inline-block;padding:.5rem 1rem;}
        }
    }
}

@media all and (max-width:999px){
    .slider .container .box:nth-of-type(n+8){display: none;}
}
@media all and (min-width:1000px){
    .slider {
        .container{flex-wrap: nowrap;
            .box{width:250px;flex:0 0 auto;animation: moving 30s linear infinite;
                a{@include fontSizeStyle(1rem, 500);width:auto;padding:0;display:block;line-height: 80px;
                    &:hover{color: black}
                }
            }
        }
        &:hover .box{animation-play-state: paused}
    }
    @keyframes moving{
        from{transform: translateX(0)} 
        to{transform: translateX(calc(-250px * 8))}
    }
}